PistollegroMVC/Service References/PistollegroWCF/PistollegroWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PistollegroWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PistollegroWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompanyMV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyMV" nillable="true" type="tns:CompanyMV" />
  <xs:complexType name="ArrayOfCompanyMV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyMV" nillable="true" type="tns:CompanyMV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyMV" nillable="true" type="tns:ArrayOfCompanyMV" />
  <xs:complexType name="ArrayOfWeaponOfferMV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeaponOfferMV" nillable="true" type="tns:WeaponOfferMV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeaponOfferMV" nillable="true" type="tns:ArrayOfWeaponOfferMV" />
  <xs:complexType name="WeaponOfferMV">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasPicture" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeaponOfferMV" nillable="true" type="tns:WeaponOfferMV" />
  <xs:complexType name="ArrayOfShipmentOrderMV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipmentOrderMV" nillable="true" type="tns:ShipmentOrderMV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipmentOrderMV" nillable="true" type="tns:ArrayOfShipmentOrderMV" />
  <xs:complexType name="ShipmentOrderMV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="WeaponOnSale" nillable="true" type="tns:WeaponOnSaleMV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipmentOrderMV" nillable="true" type="tns:ShipmentOrderMV" />
  <xs:complexType name="WeaponOnSaleMV">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasPicture" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemsAvailableCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeaponOnSaleMV" nillable="true" type="tns:WeaponOnSaleMV" />
  <xs:complexType name="ArrayOfWeaponOnSaleMV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeaponOnSaleMV" nillable="true" type="tns:WeaponOnSaleMV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeaponOnSaleMV" nillable="true" type="tns:ArrayOfWeaponOnSaleMV" />
</xs:schema>