PistollegroMVC/Service References/PistollegroWCF/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PistollegroWCF" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="loginOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="loginOperationResult" nillable="true" type="q1:CompanyMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPasswd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPasswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="cmpny" nillable="true" type="q2:CompanyMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="getCompanyResult" nillable="true" type="q3:CompanyMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="getCompaniesResult" nillable="true" type="q4:ArrayOfCompanyMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderSort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOffersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetAllOffersResult" nillable="true" type="q6:ArrayOfWeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersOfCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categoryNames" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersOfCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetOffersOfCategoriesResult" nillable="true" type="q8:ArrayOfWeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersOfCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderSort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersOfCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetOffersOfCompanyResult" nillable="true" type="q9:ArrayOfWeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetOfferResult" nillable="true" type="q10:WeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="offerToAdd" nillable="true" type="q11:WeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOfferResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="offerToUpdate" nillable="true" type="q12:WeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="offerToDelete" nillable="true" type="q13:WeaponOfferMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfferById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offerToDeleteID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfferByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentsForCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentsForCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetShipmentsForCompanyResult" nillable="true" type="q14:ArrayOfShipmentOrderMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetAllShipmentsResult" nillable="true" type="q15:ArrayOfShipmentOrderMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FulfillShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shipmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FulfillShipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShipmentOfferById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentOfferId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShipmentOfferByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyWeaponOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeaponOfferID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyWeaponOfferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderSort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetAllOnSaleResult" nillable="true" type="q16:ArrayOfWeaponOnSaleMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnSaleOfCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnSaleOfCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetOnSaleOfCompanyResult" nillable="true" type="q17:ArrayOfWeaponOnSaleMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="GetOnSaleResult" nillable="true" type="q18:WeaponOnSaleMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOnSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PistollegroWCF" minOccurs="0" name="onSale" nillable="true" type="q19:WeaponOnSaleMV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOnSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onSaleId" type="xs:int" />
        <xs:element minOccurs="0" name="orderCount" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromSaleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onSaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromSaleByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>